@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  /* --background-end-rgb: 214, 219, 220; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  background-color: #eeeeee;
}

body {
  margin: auto;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  /* 备注，这个是一组渐变色 */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* pc 端暂时没做适配，用的移动端样式 */
  max-height: 1280px;
  max-width: 720px;
}

#__next {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
