@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 214, 219, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
  height: 100%;
  background-color: #eeeeee;
  overflow: hidden;
}

body {
  margin: auto;
  height: 100%;
  /* color: rgb(var(--foreground-rgb)); */
  color: #041733;
  /* 备注，这个是一组渐变色 */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  /* 没做夜览模式 */
  background: linear-gradient(
    44.21deg,
    rgb(255, 255, 255) -1.964%,
    rgb(244, 247, 255) 107.765%
  );

  /* pc 端暂时没做适配，用的移动端样式 */
  max-width: 720px;
}

pre {
  font-family: inherit;
}

#__next {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
